<IfModule mod_rewrite.c>
Options -Indexes

#Realiza a verificação sobre a validade do login do usuário.
RewriteCond %{QUERY_STRING} URL=API/
RewriteRule (.*) API/functions.php?URL=$1&Req=%{HTTP_REFERER}&Metodo=%{REQUEST_METHOD}&SSL=%{HTTPS}&RURL=%{QUERY_STRING} [L]

RewriteCond %{REQUEST_URI} .*
RewriteRule (.*) - [F]
</IfModule>

