<IfModule mod_rewrite.c>
Options -Indexes

#Proíbe acesso direto aos arquivos via URL. ex.: http://10.56.32.78/blitz/Controller/Controllers.php

#Realiza a verificação sobre a validade do login do usuário.
RewriteCond %{QUERY_STRING} URL=ValidarLogin/
RewriteRule (.*) ValidarLogin.php?URL=$1&Req=%{HTTP_REFERER}&Metodo=%{REQUEST_METHOD}&SSL=%{HTTPS} [L]


RewriteCond %{REQUEST_URI} .*
RewriteRule (.*) - [F]
</IfModule>

