<IfModule mod_rewrite.c>
Options -Indexes

#Proíbe acesso direto aos arquivos via URL. ex.: http://10.56.32.78/blitz/Controller/Controllers.php

#Redireciona todas as requisições de tabela para os arquivos Tabelas.php
RewriteCond %{QUERY_STRING} URL=ControladorTabelas/
RewriteRule (.*) TBL/Tabelas.php?p=%{QUERY_STRING} [L]

#Redireciona todas as requisições de store procedures para os arquivos Procedure.php
RewriteCond %{QUERY_STRING} URL=ControladorProcedures/
RewriteRule (.*) PCD/Procedures.php?p=%{QUERY_STRING} [L]

RewriteCond %{QUERY_STRING} URL=ControladorPages/
RewriteRule (.*) LP/LoadPages.php?p=%{QUERY_STRING} [L]

#Verifica se o usuário esta logado no sistema
RewriteCond %{QUERY_STRING} URL=ValidarLogin/
RewriteRule (.*) Credencial/ValidarLogin.php?p=%{QUERY_STRING} [L]

RewriteCond %{REQUEST_URI} .*
RewriteRule (.*) - [F]
</IfModule>

